.loader{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.loader-logo{
    width:140px;
    animation:spin 2s linear infinite;
}

.loader h1{
    color:white;
    margin:20px 0;
    font-size:42px;
    letter-spacing:3px;
}

.loading-bar{
    width:260px;
    height:8px;
    background:#222;
    border-radius:20px;
    overflow:hidden;
}

.loading-fill{
    width:0%;
    height:100%;
    background:#ff1744;
    animation:load 2s linear forwards;
}

@keyframes load{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

@keyframes spin{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}