.about{

min-height:100vh;

background:#050505;

color:white;

padding-top:120px;

}

.about-hero{

text-align:center;

padding:80px 10%;

}

.about-hero h1{

font-size:70px;

color:#ff1744;

margin-bottom:25px;

}

.about-hero p{

font-size:22px;

width:700px;

max-width:90%;

margin:auto;

line-height:1.8;

}

.about-content{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:40px;

padding:80px;

}

.about-card{

background:#111;

padding:40px;

border-radius:20px;

transition:.4s;

}

.about-card:hover{

transform:translateY(-10px);

box-shadow:0 0 30px #ff1744;

}

.about-card h2{

margin-bottom:20px;

color:#ff1744;

}

.about-card p{

line-height:1.8;

color:#ddd;

}