*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.25);
    backdrop-filter:blur(15px);
    box-shadow:0 5px 20px rgba(0,0,0,.3);
    z-index:999;
}

.logo{
    color:#ff1744;
    font-size:32px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#ff1744;
}

.menu-icon{
    display:none;
    color:white;
    font-size:32px;
    cursor:pointer;
}

/* Mobile */

@media(max-width:900px){

.menu-icon{
    display:block;
}

.nav-links{
    position:fixed;
    top:80px;
    right:-100%;
    width:260px;
    height:100vh;
    background:#111;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:40px;
    gap:30px;
    transition:.4s;
}

.nav-links.active{
    right:0;
}

.navbar{
    padding:20px;
}

.logo{
    font-size:28px;
}

}