.timeline {
  background: #111;
  color: white;
  padding: 100px 40px;
}

.timeline h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

.timeline-card {
  background: #1b1b1b;
  padding: 25px;
  border-left: 5px solid #ff2d55;
  border-radius: 10px;
}

.timeline-card h2 {
  color: #ff2d55;
}

.timeline-card h3 {
  margin: 10px 0;
}